<%- include('./header.ejs') %>

<main class="main">
   
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                       
                    



<!-- registration start -->
                        <div class="col-lg-6">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">Create an Account</h3>
                                    </div>
                                    <p class="mb-50 font-sm">
                                        Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy
                                    </p>
                                    <!-- the form of registration -->
                                   
                                    <form method="post" action="/forgotpassword/changepassword"  onsubmit="return validateForm()">  
                                        <div class="form-group">
                                            <input type="password" id="password" name="password" placeholder="Password" required>
                                            <p id="passwordMessage" style="text-align: center; color: #e74c3c;"></p>
                                            <i class="far fa-eye fa-eye-slash" id="eyeIcon" style="position: absolute; top: 55%; right: 50px; transform: translateY(-50%); cursor: pointer;"></i>      
                                        </div>                                  
                                        <div class="form-group">
                                            <input type="password" id="confirmPassword" name="confirmpassword" placeholder="Confirm password" required>
                                            <i class="far fa-eye fa-eye-slash" id="eyeIconTwo" style="position: absolute; top: 69%; right: 50px; transform: translateY(-50%); cursor: pointer;"></i>      

                                            <p id="passwordMessage" style="text-align: center; color: #e74c3c;"></p>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit & Register</button>
                                        </div>
                
                                    </form>
                                    
                                   
                                    
                                   
                                </div>
                            </div>
                        </div>  
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="./user/js/register.js"></script>
<script>
    const eyeIcon=document.getElementById('eyeIcon');
    const password=document.getElementById('password');

    const confirmPassword=document.getElementById('confirmPassword');
    const eyeIconTwo=document.getElementById('eyeIconTwo');

    eyeIcon.addEventListener('click', ()=>{
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
 
          eyeIcon.classList.toggle('fa-eye-slash');
    })

    eyeIconTwo.addEventListener('click', ()=>{
        const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPassword.setAttribute('type', type);
 
          eyeIconTwo.classList.toggle('fa-eye-slash');
    })

    function validateForm() {
    let valid = true;

    

    // Validate password matching
    const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{4,}$/;
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;

    if (!passwordRegex.test(password)) {
        document.getElementById('passwordMessage').textContent = 'Password must be at least 4 characters long and contain both letters and numbers.';
        valid = false;
    } else if (password !== confirmPassword) {
        document.getElementById("passwordMessage").textContent = "Passwords do not match.";
        valid = false;
    } else {
        document.getElementById("passwordMessage").textContent = "";
    }

    // Prevent form submission if validation fails
    return valid;
}



</script>

<%- include('./footer.ejs') %>