<%- include('./header.ejs') %>

<main class="main">
   
    <section  style="display: flex; justify-content: center; align-items: center; min-height: 100vh; padding: 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h3 class="mb-30">forgot password</h3>
                                        <p>enter email for create new password</p>
                                    </div>
                    
                                    <form method="post"  id="loginForm" action="/forgotPassword/email" onsubmit="return validateForm()">
                                        <% if (error) { %>
                                            <h6 style="text-align: center; color: #e74c3c;"><%=   error   %></h6>
                                        <% } %>
                                        <% if (success) { %>
                                            <h6 style="text-align: center; color: #2ecc71;"><%= success %></h6>
                                        <% } %>
                                        <div class="form-group">
                                            <input type="text" id="email" name="email" placeholder="Your Email">
                                            <p id="emailMessage" style="text-align: center; color: #e74c3c;"></p>
                                        </div>
                                      
                                
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">next</button>

                                        </div>
                                  
                                        
                                     
                                  
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<script src="./user/js/login.js"></script>



<%- include('./footer.ejs') %>