<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification Form</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f4f8;
        font-family: Arial, sans-serif;
      }

      .otp-container {
        background: white;
        padding: 20px 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 400px;
        width: 100%;
      }

      h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      input[type="text"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
      }

      input[type="submit"] {
        background: linear-gradient(45deg, #98fb98, #00bfff);
        border: none;
        color: white;
        padding: 12px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
      }

      input[type="submit"]:hover {
        background: linear-gradient(45deg, #00bfff, #98fb98);
      }

      @media (max-width: 768px) {
        .otp-container {
          padding: 15px 30px;
        }
      }
    </style>
  </head>
  <body>
    <div class="otp-container">
      <h2>Enter OTP</h2>
      <form action="/forgotPassword/otp" method="post">
        <p style="color: #e74c3c" id="timer"></p>

        <input
          type="text"
          name="otp"
          placeholder="Enter OTP"
          maxlength="6"
          required
        />
        <input type="submit" value="Verify" />
      </form>
      <a href="/forgotPassword/resend-otp" id="resendOtp" style="display: none"
        >resent otp</a
      >

      <input type="hidden" id="timeLimit" value="<%= timeLimit %>" />
    </div>

    <script>
      console.log("hi guys");
      const timeLimit = new Date(
        parseInt(document.getElementById("timeLimit").value)
      );
      const timer = document.getElementById("timer");

      const updateTimer = () => {
        const now = new Date();
        const timeLeft = timeLimit - now;
        if (timeLeft > 0) {
          const minutes = Math.floor(timeLeft / 60000);
          const seconds = Math.floor((timeLeft % 60000) / 1000);
          timer.innerHTML = `OTP expires in ${minutes}m ${seconds}s`;
        } else {
          timer.innerHTML = `OTP has expired!`;
          document.getElementById("resendOtp").style.display = "block";
        }
      };
      setInterval(updateTimer, 1000);
    </script>
  </body>
</html>
